#j{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 5px;
    border-radius: 30px;
}
#search-input{
    border-radius: 20px;
    border-color: rgb(227, 61, 0);
    
    
}
#video{
    display: flex;
    justify-content: center;
}
.top{
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    background-color: rgb(24, 164, 164);
    border-color: transparent;
}
.top:hover{
    background: wheat;
    transition: 0.5s;
    
}
h2{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#fb{
    display: flex;
    justify-content: center;
}
#sb{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#top{
    display:flex;
    padding: 40px;
    gap: 40px;
    justify-content:center;
}
#top1{
    display: flex;
    padding: 40px;
    gap: 40px;
    justify-content: center;
}
.raise:hover{
    transform: translatey(-10px);
    box-shadow: 10px 10px 50px;
    transform: scale(1.1);

}

#shoes{
    display: flex;
    justify-content: center;
}
.ns{
    color: rgb(104, 33, 33);
    display: flex;
    justify-content: center;
}
.foot{
    display: flex;
    justify-content: center;
    background-color: rgb(24, 49, 49);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#logo{
    display: flex;
}